[submodule "extern/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE
[submodule "extern/Json2Settings"]
	path = external/Json2Settings
	url = https://github.com/Ryan-rsm-McKenzie/Json2Settings
